@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");
html { background: white url(//krisrang.github.io/jenkins-style/img/cat.png) bottom left no-repeat fixed; }

body { background: transparent; }

body, table, form, input, td, th, p, textarea, select { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; color: #333; }

a:hover, a:focus { color: #8cacca; }

#footer { border: none; font-size: 11px; }

#top-panel { background: #375a7f; }

#main-table { background: transparent !important; }

.bigtable tr { border: none; }

pre, code { font-family: Consolas, Monaco, monospace; }

body > pre, #main-panel > pre { background-color: #111; border-radius: 3px; color: #eee; font-size: 13px; padding: 10px 10px 30px; }

body > pre a, body > pre a:visited, #main-panel pre a, #main-panel pre a:visited { color: #ed4a6a; }

#main-panel > ul { list-style-type: none; padding-left: 0; }

#main-panel > ul .model-link, #main-panel > ul li { padding-bottom: 7px; }

#main-panel { padding-left: 15px; }
