@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");

html {
  background: #fff url(//krisrang.github.io/jenkins-style/img/cat.png) bottom left no-repeat fixed;
}

body {
  background: transparent;
}

body, table, form, input, td, th, p, textarea, select {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

a {
  &,
  &:link,
  &:visited {
    
  }
  
  &:hover,
  &:focus {
    color: $light-blue;
  }
}

#footer {
  border: none;
  font-size: 11px;
}