#header {
  background: none repeat scroll 0 0 #205081;
  background-color: #205081;
}

#header td#login-field span a {
  background: none;
}

#breadcrumbs {
  border-bottom: 1px solid #ccc;
}

#breadcrumbs li:hover {
  background-color: #e6e6e6!important;
}

.smallfont {
  text-transform: lowercase;
  font-size: 13px;
}

#jenkins-name-icon {
  width: 0;
  height: 0;
  padding: 17px 69px;
  background: url('text.png');
}

#jenkins-head-icon {
  width: 0;
  height: 0;
  padding: 15px;
  background: url('logo.png');
  border-radius: 15px;
  border: 2px solid white;
  bottom: 3px;
}

#search-box {
  width: 175px !important;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: none;
  border-radius: 5em;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  font-family: inherit;
  height: 1.71428571428571em;
  line-height: 1.71428571428571;
  position: static;
  font-size: 16px;
  padding: 5px 10px;
  background-image: none;
}

#searchform > a > img {
  display: none;
}

.top-sticker-inner, #footer-container {
  background-color: #f5f5f5;
  padding: 12px 0px;
}